:root {
    --spacing-1: 8px;
    --spacing-2: 12px;
    --spacing-3: 16px;
    --spacing-4: 24px;
    --border-radius: 12px;
    --font-color: #323232;
}
html{
    font-family: 'Roboto', sans-serif;
    background-color: beige;
}
html, body {
    height: 100%;
    color: var(--font-color);
}
body{
    padding: 0 var(--spacing-3);
    max-width: 900px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}
a{
    text-decoration: none;
    color: black;
}
#name{
    margin: 0;
}
/*--Navigation--*/
nav{
    display: flex;
    text-align: center;
    padding: var(--spacing-3);
}

.navigation-items {
    display: flex;
    list-style-type: none;
    padding: 0;
    align-items: center;
    margin: 0;
    margin-left: auto;
    font-weight: bold;
}
.navigation-item {
    margin: 8px;
}
/*--About Me--*/
section{
    padding: var(--spacing-3);
    display: block;
}
div{
    display: block;
}
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.about-me-container{
    display: flex;
}
.about-me-text-container{
    margin-right: var(--spacing-3);
}

img {
    overflow-clip-margin: content-box;
    overflow: clip;
}
.headShot {
    width: 300px;
    border-radius: var(--border-radius);
    flex-shrink: 0;
}

/*--Projects--*/

details{
    cursor: pointer;
}
summary{
    list-style: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/3/right-arrow.svg);
}
.project-image{
    width: 50%;
}

/*--Skills--*/

#skills-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
}

footer {
    margin-top: auto;
    padding: var(--spacing-2) 0;
    text-align: center;
}

/*--Animation--*/

  @media screen and (min-width: 769px) {
    .rotate-expand-text {
        transition: transform 0.3s ease-in-out;
        cursor: pointer;
      }
      
      .expanded {
        transform: scale(1.2) rotate(360deg);
      }
    
      .expand-text {
        transition: transform 0.3s ease-in-out;
        cursor: pointer;
      }
      
      .expanded {
        transform: scale(1.2);
      }
    
  }

  /*--Website Responsive--*/

  @media screen and (max-width: 767px) {
    /*--About Me--*/
    .about-me-container{
        display: block;
    }
    .about-me-text-container{
        margin-right: var(--spacing-3);
        height: 100%;
        width: 130%;
    }
    
    .headShot {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }
    /*--Navigation--*/
    #name{
        display: block;
        height: 50%;
        width: 130%;
        text-align: center;
        
    }
    nav{
        display: block;
        text-align: center;
        padding-top: 2rem;
    }
    
    .navigation-items {
        display: flex;
        list-style-type: none;
        font-weight: bold;
        padding-top: 2rem;
        padding-left: 2rem;
        margin-left: auto;
    }
}